In [54]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
train_data=pd.read_csv('modified_tain.csv')

In [3]:
train_data

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,3862,Male,Loyal Customer,21,Business travel,Business,213,2,2,2,...,2,1,2,3,2,4,2,124,129.0,neutral or dissatisfied
1,26300,Male,Loyal Customer,44,Personal Travel,Eco,1199,2,4,2,...,3,3,4,4,2,3,3,0,2.0,neutral or dissatisfied
2,44192,Male,Loyal Customer,41,Business travel,Eco,157,4,2,2,...,4,3,1,4,1,4,4,0,0.0,satisfied
3,30041,Male,Loyal Customer,54,Business travel,Eco,213,2,4,4,...,4,5,4,3,2,2,2,172,168.0,neutral or dissatisfied
4,86605,Male,disloyal Customer,42,Business travel,Business,746,4,4,4,...,3,3,2,4,3,5,3,6,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83118,115588,Male,Loyal Customer,46,Business travel,Eco,337,2,3,3,...,2,1,2,4,1,3,2,0,6.0,neutral or dissatisfied
83119,28142,Male,disloyal Customer,23,Business travel,Eco,859,3,3,3,...,2,4,5,3,4,3,2,0,0.0,neutral or dissatisfied
83120,25944,Male,Loyal Customer,38,Personal Travel,Eco Plus,594,2,2,2,...,4,4,4,4,2,3,4,32,24.0,neutral or dissatisfied
83121,9790,Female,Loyal Customer,20,Personal Travel,Eco,382,5,5,5,...,4,3,3,4,4,4,4,0,0.0,satisfied
83122,117217,Male,Loyal Customer,62,Personal Travel,Eco,304,4,5,4,...,2,3,2,4,3,4,2,0,0.0,neutral or dissatisfied

In [4]:
test_data=pd.read_csv('modified_test2.csv')

In [5]:
test_data

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,74904,Male,Loyal Customer,55,Business travel,Business,2475,5,2,...,5,5,5,5,4,5,4,0,0.0,satisfied
1,1,33555,Female,Loyal Customer,47,Business travel,Business,4000,2,2,...,5,5,5,5,5,5,2,0,0.0,satisfied
2,2,115269,Female,Loyal Customer,51,Business travel,Business,1821,2,2,...,5,5,5,5,3,5,5,11,9.0,satisfied
3,3,111999,Female,disloyal Customer,23,Business travel,Eco,533,4,4,...,3,3,3,5,3,4,3,71,65.0,satisfied
4,4,127449,Female,Loyal Customer,31,Business travel,Business,2075,2,2,...,4,4,4,5,4,5,4,32,18.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18129,18129,45487,Male,disloyal Customer,23,Business travel,Eco,187,1,3,...,2,1,3,3,1,3,2,34,36.0,neutral or dissatisfied
18130,18130,112544,Male,disloyal Customer,38,Business travel,Business,862,2,2,...,3,5,4,4,3,4,3,11,0.0,neutral or dissatisfied
18131,18131,74497,Female,Loyal Customer,36,Business travel,Business,1431,5,5,...,2,2,2,2,3,2,3,21,12.0,satisfied
18132,18132,98840,Male,Loyal Customer,35,Personal Travel,Eco,444,0,4,...,2,5,4,4,4,5,2,2,3.0,satisfied
18133,18133,34749,Male,Loyal Customer,45,Business travel,Business,209,1,1,...,4,4,4,4,1,4,4,2,0.0,satisfied

In [6]:
train_data.isna().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             254
satisfaction                           0
dtype: int64

In [7]:
test_data.isna().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [8]:
train_data.satisfaction.unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [9]:
train_data[(train_data['satisfaction']=='neutral or dissatisfied')].mean()['Arrival Delay in Minutes']

17.305882352941175

In [10]:
train_data[(train_data['satisfaction']=='satisfied')].mean()['Arrival Delay in Minutes']

12.557020968101718

In [11]:
train_data[(train_data['satisfaction']=='neutral or dissatisfied')].count(),train_data[(train_data['satisfaction']=='satisfied')].count()

(id                                   47157
 Gender                               47157
 Customer Type                        47157
 Age                                  47157
 Type of Travel                       47157
 Class                                47157
 Flight Distance                      47157
 Inflight wifi service                47157
 Departure/Arrival time convenient    47157
 Ease of Online booking               47157
 Gate location                        47157
 Food and drink                       47157
 Online boarding                      47157
 Seat comfort                         47157
 Inflight entertainment               47157
 On-board service                     47157
 Leg room service                     47157
 Baggage handling                     47157
 Checkin service                      47157
 Inflight service                     47157
 Cleanliness                          47157
 Departure Delay in Minutes           47157
 Arrival Delay in Minutes             47005
 satisfaction                         47157
 dtype: int64,
 id                                   35966
 Gender                               35966
 Customer Type                        35966
 Age                                  35966
 Type of Travel                       35966
 Class                                35966
 Flight Distance                      35966
 Inflight wifi service                35966
 Departure/Arrival time convenient    35966
 Ease of Online booking               35966
 Gate location                        35966
 Food and drink                       35966
 Online boarding                      35966
 Seat comfort                         35966
 Inflight entertainment               35966
 On-board service                     35966
 Leg room service                     35966
 Baggage handling                     35966
 Checkin service                      35966
 Inflight service                     35966
 Cleanliness                          35966
 Departure Delay in Minutes           35966
 Arrival Delay in Minutes             35864
 satisfaction                         35966
 dtype: int64)

In [12]:
train_data['Arrival Delay in Minutes'].mean()

15.250672748554948

In [13]:
train_data['Arrival Delay in Minutes'].fillna(train_data['Arrival Delay in Minutes'].mean(),inplace=True)

In [14]:
## check the duplicated
train_data.duplicated().sum(),test_data.duplicated().sum()

(0, 0)

#### dropping the useless columns

In [15]:
train_data.drop(['id'],axis=1,inplace=True)

In [16]:
test_data.drop(['id','Unnamed: 0'],axis=1,inplace=True)

In [17]:
train_data=pd.get_dummies(train_data,columns=['Gender','Customer Type','Type of Travel','Class'])

In [33]:
test_data=pd.get_dummies(test_data,columns=['Gender','Customer Type','Type of Travel','Class'])

In [34]:
x_train=train_data.drop('satisfaction', axis=1)

In [35]:
y_train=train_data['satisfaction']

In [36]:
x_test=test_data.drop('satisfaction',axis=1)
y_test=test_data['satisfaction']

In [37]:
scale=StandardScaler()

In [38]:
scale_x_train=scale.fit_transform(x_train)
scale_x_test=scale.transform(x_test)

### LogisticRegression

In [39]:
LR=LogisticRegression(random_state=16,penalty='l1',solver='liblinear')

In [43]:
LR.fit(scale_x_train,y_train)

LogisticRegression(penalty='l1', random_state=16, solver='liblinear')

In [44]:
y_pred=LR.predict(scale_x_test)

In [45]:
accuracy_score(y_pred,y_test)

0.8707400463218264

### Random Forest model

In [47]:
classifier=RandomForestClassifier(n_estimators=100,criterion='entropy')

In [51]:
classifier.fit(scale_x_train,y_train)

RandomForestClassifier(criterion='entropy')

In [52]:
y_pred_random_forest=classifier.predict(scale_x_test)

In [53]:
accuracy_score(y_pred_random_forest,y_test)

0.9585309363626338

### K-Nearest Neighbor

In [55]:
knn=KNeighborsClassifier(n_neighbors=7)

In [56]:
knn.fit(scale_x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [57]:
y_pred_knn_model=knn.predict(scale_x_test)

In [58]:
accuracy_score(y_pred_knn_model,y_test)

0.9185507885739495